.ProductCard {
  width: 200px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-ForSell {
  /* background-color: #c0c0c0; */
  background-color: #b3ffcc;
  /* background-color: #00213d; */
}

.card-ForSell p:nth-of-type(2),
.card-ForSell p:nth-of-type(3) {
  color: black;
}

.ProductCard:hover {
  transform: translateY(-5px);
  z-index: 1;
}

.product-image {
  width: 100%;
  height: 150px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-title {
  font-size: 14px;
  margin: 12px 0;
  height: 64px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-price {
  font-size: 18px;
  color: #e67e22;
  margin: 8px 0;
}

.product-price-suggested {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 6px;
  cursor: pointer;
}

.product-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.product-link:hover {
  background-color: #2980b9;
}


.product-quantity {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3498db;
  color: #ffffff;
  font-size: 18px;
  padding: 4px 8px;
  border-top-left-radius: 8px;
}

.product-quantity .quantity-text {
  font-weight: bold;
}
.price-suggested::after{
  z-index: 1;
  content: "formula: gastos del envio / uso comercial + precio / 0.70 ";
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  width: 80px;
  min-height: 56px;
  right: -60px;
  position: absolute;
  background-color: #ffdd57;
  color: black;
  font-weight: normal;
  align-items: center;
  bottom: 67px;
  box-sizing: border-box;
  padding: 5px;
  display: none;
  
}
.price-suggested:hover::after {
  display: block;
}

.price-suggested-user::before{
  z-index: 1;
  content: "Precio impuesto por Jose";
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  width: 82px;
  min-height: 30px;
  right: -18px;
  position: absolute;
  background-color: #ffdd57;
  color: black;
  font-weight: normal;
  align-items: center;
  bottom: 50px;
  box-sizing: border-box;
  padding: 5px;
  display: none;
}

.price-suggested-user:hover::before {
display: block;
}